<script type="module" src="/static/gouvfr/js/dsfr.module.min.js"></script>
<script type="text/javascript" nomodule src="/static/gouvfr/js/dsfr.nomodule.min.js"></script>

<footer class="fr-footer" id="footer">
    <div class="fr-container">
        <div class="fr-footer__body">
            <div class="fr-footer__brand">
                <a class="fr-logo"
                   href="/"
                   title="République française">
                      <span class="fr-logo__title">
                          Ministère
                          <br>des Solidarités
                          <br>et de la Santé
                      </span>
                </a>
            </div>
            <div class="fr-footer__content">
                <p class="fr-footer__content-desc">
                    Le code source est ouvert et les contributions sont bienvenues.
                    <a title="Voir le code source"
                       href="<%= appRepo %>"
                       target="_blank"
                       rel="noopener"
                    >Voir le code source</a>
                </p>
                <ul class="fr-footer__content-list">
                    <li class="fr-footer__content-item">
                        <a class="fr-footer__content-link" href="https://solidarites-sante.gouv.fr" target="_blank">solidarites-sante.gouv.fr</a>
                    </li>
                    <li class="fr-footer__content-item">
                        <a class="fr-footer__content-link" href="https://www.ameli.fr" target="_blank">ameli.fr</a>
                    </li>
                    <li class="fr-footer__content-item">
                        <a class="fr-footer__content-link" href="https://beta.gouv.fr/" target="_blank">beta.gouv.fr</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
