<% if(isIE) { %>
    <script data-name="ie-specific" type="text/javascript" src="/static/polyfill/polyfill.min.js"></script>
    <div class="fr-mx-8w fr-my-2w fr-py-2w fr-callout">
        <p class="fr-mb-0">Ce site n'est pas entièrement compatible avec <strong>Internet Explorer</strong>.
            Si vous rencontrez des problèmes d'affichage <strong>veuillez changer de navigateur</strong>.</p>
    </div>
<% } %>

<link href="/static/tabulator-tables/css/tabulator_simple.css" rel="stylesheet">
<script type="text/javascript" src="/static/tabulator-tables/js/tabulator.min.js"></script>
<div class="fr-container">
    <div class="fr-grid-row fr-grid-row--center fr-grid-row--gutters fr-mt-3w">
        <div class="fr-container fr-mb-3w">
            <% if (psyList.length > 0) { %>
                <strong class="fr-mb-2w">
                    Il y a actuellement <%= psyList.length %> partenaires du dispositif d'accompagnement.</strong>
                <p class="fr-mb-4w">
                    La liste est mise à jour quotidiennement, revenez la consulter si vous n'avez pas pu trouver de
                    psychologue.
                </p>
                <p class="fr-mb-1w">Une fois muni(e) d’une ordonnance signée par un médecin proposant une prise en
                    charge psychologique,
                    vous pourrez contacter un psychologue partenaire par téléphone ou par son site web.</p>
                <p class="fr-mb-1w">Il n’est pas possible de bénéficier de la prise en charge sans cette ordonnance.</p>
                <p class="fr-mb-4w">Le psychologue, que vous choisissez, peut exercer dans votre département ou dans un
                    autre département, notamment dans le cas d'un suivi à distance.
                </p>
                <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-input-group fr-col-xs-12 fr-col-md-3">
                        <label class="fr-label" for="departement-filter-value">Votre département</label>
                        <select class="fr-select midlength-input" id="departement-filter-value">
                            <option value="" disabled selected>Séléctionner</option>
                            <% deps.forEach(function(d){ %>
                                <option value="<%- d.name %>"><%- d.name %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="fr-input-group fr-col-xs-12 fr-col-md-3 psy-list-elements-to-show"
                         style="display: none;">
                        <label class="fr-label" for="lastName-filter-value">Rechercher par nom</label>
                        <input class="fr-input midlength-input" id="lastName-filter-value" type="text"
                               placeholder="Delgado">
                    </div>
                </div>
                <div class="psy-list-elements-to-show" style="display: none;">
                    <div id="psy-table" class="fr-mt-2w"></div>
                    <!-- Import data as recommended by OWASP :
        https://cheatsheetseries.owasp.org/cheatsheets/Cross_Site_Scripting_Prevention_Cheat_Sheet.html#html-entity-encoding
                  -->
                    <div id="psy-list" style="display: none;">
                        <!-- First HTML-escape the json -->
                        <%= JSON.stringify(psyList) %>
                    </div>
                </div>
                <script src="/static/js/build-psy-listing.js"></script>
            <% } %>
        </div>
    </div>
</div>
