<%- include('partials/header') -%>

<div class="fr-container">

    <div class="fr-grid-row fr-grid-row--center fr-grid-row--middle fr-my-4w">
        <div id="hero-col-1" class="fr-col-md-5 fr-col-xs-6 fr-pr-4w fr-pt-6w">
            <h1>En parler, c’est déjà se soigner</h1>
            <p>Faites bénéficier votre enfant d’un accompagnement psychologique gratuit</p>
        </div>
        <div id="hero-col-2" class="fr-col-md-7 fr-col-xs-6">
            <img
                style="width: 100%; min-height: 350px"
                src="/static/images/illustration-home.svg"
                alt="En parler, c’est déjà se soigner"
            />
        </div>
    </div>
</div>

<div class="fr-container">
    <div class="fr-grid-row fr-grid-row--center fr-grid-row--gutters">
        <div class="fr-col fr-col-xs-10 fr-col-md-10 fr-my-4w">
            <div class="fr-callout fr-callout-none">
                <h4 class="fr-callout__title">Site en cours de construction</h4>
                <p class="fr-callout__text">
                    Disponible fin mai
                </p>
            </div>
        </div>
    </div>
</div>
