<%- include('partials/header') -%>

<div class="fr-container fr-my-3w">

    <div class="fr-grid-row fr-grid-row--gutters fr-b__two-col">
        <div class="fr-container fr-col-12">

            <div class="fr-mb-3w">
                <ul class="fr-accordion-group">
                    <% faq.general.forEach(function(q, i){ %>
                        <%- include('partials/faq-item', {...q, id: 'general' + i}); %>
                    <% }); %>
                </ul>

                <h2 id="psy">Je suis psychologue</h2>

                <h3>Remboursement</h3>
                <ul class="fr-accordion-group">
                    <% faq.pricing.forEach(function(q, i){ %>
                        <%- include('partials/faq-item', {...q, id: 'pricing' + i}); %>
                    <% }); %>
                </ul>

            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') -%>
