<%- include('partials/header') -%>

<div class="fr-container">
    <div class="fr-grid-row fr-grid-row--center fr-centered fr-grid-row--middle fr-pb-8w">
        <div class="fr-col-12 fr-pt-8w">
            <h1>En parler, c’est déjà se soigner</h1>
            <p>Faites bénéficier votre enfant d’un accompagnement psychologique gratuit</p>
        </div>

        <div class="fr-col-12">
            <img class="hero" src="/static/images/illustration-home.svg"
                 alt="En parler, c’est déjà se soigner"/>
        </div>
    </div>
</div>

<div class="fr-container--fluid fr-bg--light">
    <div class="fr-container fr-centered">
        <div class="fr-grid-row fr-grid-row--center fr-grid-row--gutters">
            <div class="fr-col-8 fr-my-4w">
                <p class="fr-text fr-mb-4v">
                    Le dispositif PsyEnfantAdo s’est achevé le 31
                    janvier 2022.</p>
                <p class="fr-text fr-mb-4v">
                    Dans un contexte de sortie de crise sanitaire liée
                    au COVID, ce dispositif a constitué une première
                    réponse d’urgence à la souffrance psychique des
                    enfants et adolescents.
                </p>

                <h2 class="fr-h5 fr-mb-4v">
                    Un nouveau dispositif à partir de 3 ans est mis en place au Printemps&nbsp;2022:
                    <a target="_blank" href="https://monpsy.sante.gouv.fr/">« MonPsySanté »</a>.
                </h2>

            </div>
        </div>
    </div>
</div>

<div class="fr-container fr-my-8w">
    <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12">
            <h2 class="fr-h5">
                Votre enfant ou adolescent est en souffrance,
                des dispositifs existent : </h2>
            <ul>
                <li>Les centres médico-psychologiques
                    infanto-juvéniles (CMP-IJ)
                </li>
                <li>les centres de santé (CDS) et maisons de
                    santé pluri professionnelles.
                </li>
                <li>Les maisons des adolescents (MDA)</li>
                <li>Le « Fil Santé Jeunes » : 0 800 235 236 ou le
                    chat individuel : filsantejeunes.com – anonyme et
                    gratuit, ouvert 7 jours sur 7 de 9h à 23h
                </li>
                <li>le 3114 - Numéro national de prévention du
                    suicide ; tous les jours, 24h/24– Appel et
                    services gratuits
                </li>
                <li>Sites de référence et lignes d’aide en ligne :
                    Plus d'informations ici : <a target="_blank"
                                                 href="https://www.santepubliquefrance.fr/maladies-et-traumatismes/maladies-et-infections-respiratoires/infection-a-coronavirus/articles/covid-19-prendre-soin-de-sa-sante-mentale-pendant-l-epidemie">santepubliquefrance.fr</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<%- include('partials/footer') -%>
