<%- include('partials/header') -%>
<div class="fr-container">

    <div class="fr-grid-row fr-grid-row--center fr-grid-row--middle fr-mt-1v fr-pb-1v">
        <div id="hero-col-1" class="fr-col-md-5 fr-col-xs-6 fr-pr-6w fr-pt-6w">
            <h1>En parler, c’est déjà se soigner</h1>
            <p>Faites bénéficier votre enfant d’un accompagnement psychologique gratuit</p>
        </div>
    </div>
</div>
