<%- include('partials/header') -%>

<div class="fr-container">
    <div class="fr-grid-row fr-grid-row--center fr-centered fr-grid-row--middle fr-pb-8w">
        <div class="fr-col-12 fr-pt-8w">
            <h1>En parler, c’est déjà se soigner</h1>
            <p>Faites bénéficier votre enfant d’un accompagnement psychologique gratuit</p>
        </div>

        <div class="fr-col-12">
            <img class="hero" src="/static/images/illustration-home.svg"
                 alt="En parler, c’est déjà se soigner"/>
        </div>
    </div>
</div>

<div class="fr-container--fluid fr-bg--light">
    <div class="fr-container fr-centered">
        <div class="fr-grid-row fr-grid-row--center fr-grid-row--gutters">
            <div class="fr-col-8 fr-my-4w">
                <p class="fr-text fr-mb-4v">
                    Le dispositif PsyEnfantAdo s’est achevé le 31
                    janvier 2022.</p>
                <p class="fr-text fr-mb-4v">
                    Dans un contexte de sortie de crise sanitaire liée
                    au COVID, ce dispositif a constitué une première
                    réponse d’urgence à la souffrance psychique des
                    enfants et adolescents.
                </p>

                <h2 class="fr-h5 fr-mb-4v">
                    Un nouveau dispositif à partir de 3 ans est mis en place au Printemps&nbsp;2022&nbsp;:
                    <a target="_blank" href="https://monpsy.sante.gouv.fr/">« MonPsy »</a>.
                </h2>

            </div>
        </div>
    </div>
</div>

<div class="fr-container fr-my-8w">
    <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12">
            <h2 class="fr-h5">En cas de souffrance psychique, consultez un médecin.</h2>
            <p class="fr-mb-2w"><strong>A noter, d’autres dispositifs existent :</strong></p>
            <ul>
                <li><p class="fr-m-0"><strong>Le numéro national de prévention du suicide :</strong></p>
                    <ul class="no-list-style">
                        <li>
                            <p class="fr-m-0"><span class="fr-fi-check-line fr-mr-1v" aria-hidden="true"></span><strong>Appelez
                                    le 3114</strong>, accessible 24h/24 et 7j/7 gratuitement
                                depuis la France entière</p>
                            <p class="fr-mb-0 fr-ml-7v">
                                Un professionnel de soins formé spécifiquement à la prévention du suicide sera à votre
                                écoute afin de faire le point et vous proposer des ressources adaptées à vos besoins.
                                Plus
                                d’information sur le site <a href="https://www.3114.fr" target="_blank">www.3114.fr</a>
                            </p>

                        </li>
                    </ul>
                </li>
                <li><p class="fr-m-0"><strong>Structures sur le territoire :</strong></p>

                    <ul class="no-list-style">
                        <li><span class="fr-fi-check-line fr-mr-1v" aria-hidden="true"></span>Les centres
                            médico-psychologiques
                            infanto-juvéniles (CMP-IJ)
                        </li>
                        <li><span class="fr-fi-check-line fr-mr-1v" aria-hidden="true"></span>Les centres
                            médico-psychologiques (CMP)
                        </li>
                        <li><span class="fr-fi-check-line fr-mr-1v" aria-hidden="true"></span>Les maisons des
                            adolescents
                        </li>
                        <li><span class="fr-fi-check-line fr-mr-1v" aria-hidden="true"></span>Les centres de santé et
                            maisons de santé pluri professionnelles participant à la <a
                                    target="_blank"
                                    href="https://solidarites-sante.gouv.fr/systeme-de-sante-et-medico-social/segur-de-la-sante/mesure-31-sante-mentale/mesure-31-sante-mentale">mesure
                                31 du Ségur de la Santé</a>.
                        </li>
                    </ul>
                </li>
                <li><p class="fr-m-0"><strong>Autres ressources d’écoute et d’information :</strong></p>
                    <ul class="no-list-style">
                        <li><span class="fr-fi-check-line fr-mr-1v" aria-hidden="true"></span>Le <strong>« Fil Santé
                                Jeunes »</strong> :
                            0 800 235 236 ou le chat individuel : filsantejeunes.com – anonyme et
                            gratuit, ouvert 7 jours sur 7 de 9h à 23h
                            <p class="fr-mb-0 fr-ml-7v"><a target="_blank"
                                                           href="https://www.filsantejeunes.com/tchat-individuel">Tchat
                                    individuel</a> ouvert tous les jours de 9 h à 22h</p>
                        </li>
                        <li><span class="fr-fi-check-line fr-mr-1v" aria-hidden="true"></span><a target="_blank"
                                                                                                 href="https://www.psycom.org/ ">Psycom</a>
                            : site d’information sur la santé mentale
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="fr-container--fluid fr-bg--light">
    <div class="fr-container">
        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-8 fr-my-4w">
                <h2>
                    Vous êtes psychologue
                    <br/>
                    et vous souhaitez au nouveau dispositif MonPsy&nbsp;?
                </h2>
                <p class="fr-text fr-mb-1w">
                    Le formulaire de candidature sera prochainement disponible en
                    ligne (février 2022).
                    <a
                            target="_blank"
                            href="https://monpsy.sante.gouv.fr/"
                    >
                        En savoir plus
                    </a></p>
                <p class="fr-text"> Laissez nous votre e-mail, et nous vous enverrons toutes les
                    informations nécessaires, dès l’ouverture des candidatures.</p>
                <form id="sb_form"
                      onsubmit="process2(
    'https://services.sarbacane.com/core/v1/forms/contacts/upsert?listID&#x3D;gK9pKC6aT7ehlKKhbmLt9A&amp;formID&#x3D;hgLXy0uPQ0GSIAjQUj4hgQ&amp;timezone&#x3D;Europe/Paris', 'https://forms.sbc08.com/', '5a5873edb85b530da84d23f7', 'false', 'message',
    '', 'https://services.sarbacane.com/core/v1/transactional/sendmessage/optin', 'Merci', 'Votre email a bien été enregistré.',
    'Vous allez recevoir un email', 'Vous devrez cliquer sur le lien de confirmation pour valider votre inscription', 'Erreur',
    'Une erreur inattendue s%27est produite.', 'Le formulaire est en cours d%27édition, veuillez patienter quelques minutes avant d%27essayer à nouveau.', '',
    '', ''
  );
  return false;"
                      method="post">
                    <label for="input-email" id="form-header-title"></label>

                    <span style="display: flex;flex-direction: row;">
    <label id="label-EMAIL_ID">Votre email</label>
  </span>
                    <input id="input-email" type="email" name="email" required="true" class="fr-input" sb-form-input/>
                    <div id="div-submitInput" class="fr-mt-2w">
                        <button id="submitInput" type="submit" value="Valider" class="fr-btn fr-btn--alt fr-h5">
                            Valider
                        </button>
                        <div class="loader" style="display:none"></div>
                    </div>
                </form>

                <p class="fr-text--sm fr-mt-4w">Pour savoir ce qu'on fait de votre e-mail, vous pouvez voir notre <a
                            href="/donnees-personnelles-et-gestion-des-cookies#mention-donnees-perso">politique de
                        confidentialité.</a></p>
            </div>
        </div>
    </div>
</div>
<div class="fr-container fr-centered">
    <div class="fr-grid-row fr-grid-row--center fr-grid-row--gutters fr-p-4w">
        <div class="fr-col-10">
            <a class="fr-btn fr-btn--secondary" href="/faq#psy">Consulter la Foire Aux Questions</a>
        </div>
    </div>
</div>
<%- include('partials/footer') -%>
