<%- include('partials/header') -%>

<div class="fr-container">
    <div class="fr-grid-row fr-grid-row--center fr-centered fr-grid-row--middle fr-pb-8w">
        <div class="fr-col-12 fr-pt-8w">
            <h1>En parler, c’est déjà se soigner</h1>
            <p>Faites bénéficier votre enfant d’un accompagnement psychologique gratuit</p>
        </div>

        <div class="fr-col-12">
            <img class="hero" src="/static/images/illustration-home.svg"
                 alt="En parler, c’est déjà se soigner"/>
        </div>
    </div>
</div>

<div class="fr-container--fluid fr-bg--light">
    <div class="fr-container fr-centered">
        <div class="fr-grid-row fr-grid-row--center fr-grid-row--gutters">
            <div class="fr-col-8 fr-my-4w">
                <p class="fr-text fr-mb-4v">
                    Le dispositif PsyEnfantAdo s’est achevé le 31
                    janvier 2022.</p>
                <p class="fr-text fr-mb-4v">
                    Dans un contexte de sortie de crise sanitaire liée
                    au COVID, ce dispositif a constitué une première
                    réponse d’urgence à la souffrance psychique des
                    enfants et adolescents.
                </p>

                <h2 class="fr-h5 fr-mb-4v">
                    Un nouveau dispositif à partir de 3 ans est mis en place au Printemps&nbsp;2022&nbsp;:
                    <a target="_blank" href="https://monpsy.sante.gouv.fr/">« MonPsy »</a>.
                </h2>

            </div>
        </div>
    </div>
</div>

<div class="fr-container fr-my-8w">
    <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12">
            <h2 class="fr-h5">En cas de souffrance psychique, consultez un médecin.</h2>
            <p class="fr-mb-2w"><strong>A noter, d’autres dispositifs existent :</strong></p>
            <ul>
                <li><p class="fr-m-0"><strong>Le numéro national de prévention du suicide :</strong></p>
                    <ul class="no-list-style">
                        <li>
                            <p class="fr-m-0"><span class="fr-fi-check-line fr-mr-1v" aria-hidden="true"></span><strong>Appelez
                                    le 3114</strong>, accessible 24h/24 et 7j/7 gratuitement
                                depuis la France entière</p>
                            <p class="fr-mb-0 fr-ml-7v">
                                Un professionnel de soins formé spécifiquement à la prévention du suicide sera à votre
                                écoute afin de faire le point et vous proposer des ressources adaptées à vos besoins.
                                Plus
                                d’information sur le site <a href="https://www.3114.fr" target="_blank">www.3114.fr</a>
                            </p>

                        </li>
                    </ul>
                </li>
                <li><p class="fr-m-0"><strong>Structures sur le territoire :</strong></p>

                    <ul class="no-list-style">
                        <li><span class="fr-fi-check-line fr-mr-1v" aria-hidden="true"></span>Les centres
                            médico-psychologiques
                            infanto-juvéniles (CMP-IJ)
                        </li>
                        <li><span class="fr-fi-check-line fr-mr-1v" aria-hidden="true"></span>Les centres
                            médico-psychologiques (CMP)
                        </li>
                        <li><span class="fr-fi-check-line fr-mr-1v" aria-hidden="true"></span>Les maisons des
                            adolescents
                        </li>
                        <li><span class="fr-fi-check-line fr-mr-1v" aria-hidden="true"></span>Les centres de santé et
                            maisons de santé pluri professionnelles participant à la <a
                                    target="_blank"
                                    href="https://solidarites-sante.gouv.fr/systeme-de-sante-et-medico-social/segur-de-la-sante/mesure-31-sante-mentale/mesure-31-sante-mentale">mesure
                                31 du Ségur de la Santé</a>.
                        </li>
                    </ul>
                </li>
                <li><p class="fr-m-0"><strong>Autres ressources d’écoute et d’information :</strong></p>
                    <ul class="no-list-style">
                        <li><span class="fr-fi-check-line fr-mr-1v" aria-hidden="true"></span>Le <strong>« Fil Santé
                                Jeunes »</strong> :
                            0 800 235 236 ou le chat individuel : filsantejeunes.com – anonyme et
                            gratuit, ouvert 7 jours sur 7 de 9h à 23h
                            <p class="fr-mb-0 fr-ml-7v"><a target="_blank"
                                                           href="https://www.filsantejeunes.com/tchat-individuel">Tchat
                                    individuel</a> ouvert tous les jours de 9 h à 22h</p>
                        </li>
                        <li><span class="fr-fi-check-line fr-mr-1v" aria-hidden="true"></span><a target="_blank"
                                                                                                 href="https://www.psycom.org/ ">Psycom</a>
                            : site d’information sur la santé mentale
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="fr-container--fluid fr-bg--light">
    <div class="fr-container">
        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-8 fr-my-4w">
                <h2>
                    Vous êtes psychologue
                    <br/>
                    et vous souhaitez rejoindre le dispositif MonPsy&nbsp;?
                </h2>
                <p class="fr-text fr-mb-1w">
                    <strong>Candidatez !</strong>
                    <a
                            target="_blank"
                            href="https://monpsy.sante.gouv.fr/psychologues"
                    >
                        En savoir plus
                    </a>
                </p>


            </div>
        </div>
    </div>
</div>
<div class="fr-container fr-centered">
    <div class="fr-grid-row fr-grid-row--center fr-grid-row--gutters fr-p-4w">
        <div class="fr-col-10">
            <a class="fr-btn fr-btn--secondary" href="/faq#psy">Consulter la Foire Aux Questions</a>
        </div>
    </div>
</div>
<%- include('partials/footer') -%>
