<%- include('partials/header') -%>
<div class="fr-container">

    <div class="fr-grid-row fr-grid-row--center fr-grid-row--middle fr-mt-1v fr-pb-1v">
        <div id="hero-col-1" class="fr-col-md-5 fr-col-xs-6 fr-pr-6w">
            <h1>Bonjour Beta.gouv</h1>
        </div>
    </div>
</div>
