<%- include('partials/header') -%>

<div class="fr-container">
    <div class="fr-grid-row fr-grid-row--center fr-centered fr-grid-row--middle fr-pb-8w">
        <div class="fr-col-12 fr-pt-8w">

        <h1>En parler, c’est déjà se soigner</h1>
        <p>Faites bénéficier votre enfant d’un accompagnement psychologique gratuit</p>
        </div>
        <div class="fr-col-3 fr-col-offset-1 fr-pt-8w">
            <a class="fr-btn fr-btn--alt fr-h5" href="/parent">
                Je suis parent
            </a>
            <p class="fr-mt-4v">Je recherche un psychologue pour&nbsp;mon&nbsp;enfant</p>
        </div>
        <div class="fr-col-4">
            <img class="hero" src="/static/images/illustration-home.svg"
                 alt="En parler, c’est déjà se soigner"/>
        </div>
        <div class="fr-col-3 fr-pt-8w">
            <a class="fr-btn fr-btn fr-h5" href="/psychologue">
                Je suis psychologue
            </a>
            <p class="fr-mt-4v">Je souhaite m’informer sur le dispositif ou devenir partenaire</p>
        </div>
        <div class="fr-col-1 fr-mt-4w">
        </div>
    </div>
</div>

<div class="fr-container--fluid fr-bg--light">
    <div class="fr-container fr-centered">
        <div class="fr-grid-row fr-grid-row--center fr-grid-row--gutters">
            <div class="fr-col-8 fr-my-4w">
                <p class="fr-text fr-mb-4v">
                    Dans un contexte de sortie de crise sanitaire liée au COVID, le dispositif PsyEnfantAdo constitue
                    une première réponse d’urgence à la souffrance psychique des enfants et adolescents.</p>
                <p class="fr-h5 fr-mb-4v">
                    Le dispositif 100% psyenfant est ouvert à tout enfant ou adolescent de 3 à 17 ans résidant en France, présentant
                    des troubles anxieux ou dépressifs légers à modérés.</p>
                <p class="fr-text fr-mb-4v"> Après consultation d’un médecin, l’enfant ou l’adolescent, bénéficie du forfait psyenfantado : un
                    parcours de psychothérapie assuré par nos psychologues partenaires.
                </p>
                <p class="fr-text fr-mb-4v">
                    Le dispositif est actif jusqu’en janvier 2022.
                </p>

            </div>
        </div>
    </div>
</div>

<div class="fr-container--fluid gradient-bg">
    <div class="fr-container fr-centered">

        <div class="fr-grid-row fr-grid-row--center fr-grid-row--gutters fr-py-4w">
            <div class="fr-col-3 fr-m-4w card white">
                <p class="fr-my-2w fr-h4">
                    Un accès à des soins psychologiques pour tous&nbsp;les&nbsp;enfants
                </p>
            </div>
            <div class="fr-col-3 fr-m-4w card white">
                <p class="fr-my-2w fr-h4">
                    Une prise&nbsp;en&nbsp;charge <br/>à 100% <br/>sans&nbsp;avance&nbsp;de&nbsp;frais
                </p>
            </div>
            <div class="fr-col-3 fr-m-4w card white">
                <p class="fr-my-2w fr-h4">
                    Un annuaire de&nbsp;psychologues au&nbsp;profil&nbsp;authentifié
                </p>
            </div>
        </div>
    </div>
</div>
<div class="fr-container fr-mb-8w">
    <div class="fr-grid-row fr-grid-row--center fr-grid-row--gutters fr-centered">
        <div class="fr-col-8 fr-mt-4w">
            <p class="fr-h6">
                « Dans ce contexte de crise, la demande de prise en charge des enfants et des adolescents a explosé, et
                le manque de moyens des familles est souvent un frein à la psychothérapie. Je souhaite intégrer ce
                dispositif pour permettre à ces familles d’avoir accès aux soins »
            </p>
            <p>Une psychologue candidate</p>
            <p class="fr-h6">
                « Ma fille de 15 ans a montré des signes d’angoisse suite à la crise sanitaire; mon médecin généraliste
                nous a conseillé des séances de soutien psychologique et nous parlé du dispositif PsyEnfantAdo » </p>
            <p>Un parent d’adolescent</p>

        </div>

        <div class="fr-col-8 fr-col-offset-4--right">

            <p class="fr-h6 fr-pb-2">« Je suis infirmière scolaire dans un collège. Je trouve ce dispositif psy enfant très
                intéressant et
                de grand bénéfice pour nos élèves »
            </p>
        </div>
        <div class="fr-col-8 fr-col-offset-4 fr-text-right">

            <p class="fr-h6">
                « Je suis enseignante et j'ai conseillé à des parents que leur fils puisse bénéficier de ce dispositif
                car il est en souffrance depuis la fin du confinement »
            </p>

        </div>
    </div>
</div>

<%- include('partials/footer') -%>
