<%- include('partials/header') -%>
<h1 class="fr-pl-4w fr-pt-4w">Trouver un psychologue partenaire, <small class="d-block">une fois muni(e) d’une ordonnance</small></h1>
<%- include('partials/listing') -%>
<%- include('partials/footer') -%>