<%- include('partials/header') -%>

<div class="fr-container">
    <div class="fr-grid-row fr-grid-row--center fr-grid-row--middle fr-my-4w">
        <div class="fr-col-5 fr-col-offset-1 fr-pr-4w fr-pt-6w">
            <h1>Je suis psychologue</h1>
            <p>Je souhaite m’informer sur le dispositif</p>
        </div>
        <div class="fr-col-3 fr-col-offset-2--right">
            <img class="hero" src="/static/images/psy.png"
                 alt="En parler, c’est déjà se soigner"/>
        </div>
    </div>
</div>
<div class="fr-container--fluid fr-centered fr-pt-4w fr-py-6w">
    <div class="fr-container">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-xs-12">
                <h2>Les étapes clés pour les psychologues partenaires du dispositif</h2>
            </div>
        </div>

        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-xs-12 fr-col-md-3">
                <div class="fr-centered fr-m-2w fr-px-2w fr-py-3w fr-bg--light card">

                    <div class="fr-bg--light-2 fr-p-1v fr-text--xl fr-m-auto step">
                        <span class="number">1.</span>
                    </div>
                    <div class="fr-p-2w">
                        <strong class="fr-text--lg d-block fr-mb-2w">Rendez-vous</strong>
                        Les familles, munies d’une ordonnance, prennent rendez-vous avec vous pour un bilan, puis un
                        parcours de suivi psychologique à réaliser avant le 31 janvier 2022.

                    </div>
                </div>
            </div>
            <div class="fr-col-xs-12 fr-col-md-3">
                <div class="fr-centered fr-m-2w fr-px-2w fr-py-3w fr-bg--light card">
                    <div class="fr-bg--light-2 fr-p-1v fr-text--xl fr-m-auto step">
                        <span class="number">2.</span>
                    </div>
                    <div class="fr-p-2w">
                        <strong class="fr-text--lg d-block fr-mb-2w">Prise en charge</strong>
                        A la fin du parcours de suivi (jusqu’à 10 séances), vous adressez la feuille de soins et
                        l’ordonnance à la CPAM de votre département pour obtenir le paiement des séances effectuées
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fr-container" id="je-suis-psychologue">
    <div class="fr-grid-row fr-grid-row--center fr-grid-row--gutters">
        <div class="fr-col fr-col-xs-10 fr-col-md-10 fr-my-4w">
            <h2 class="fr-mb-2w">
                Vous participez au programme d'accompagnement psychologique des enfants et des adolescents : Merci !
            </h2>
            <p class="fr-mb-2w">
                Une fois conventionné.e avec l’assurance maladie, vos coordonnées apparaissent dans l'annuaire public
                des psychologues partenaires sur cette plateforme. </p>

            <p class="fr-mb-2w"><strong>Les candidatures sont closes depuis le 31/10/21. Si vous avez candidaté avant
                    cette date, votre dossier est en cours de traitement ou a été accepté. Vous êtes alors référencé.e
                    sur l’annuaire en ligne.</strong></p>
            <p class="fr-mb-2w">Le médecin peut orienter vers vous, des enfants et adolescents, jusqu’à la fin de
                l’année (date indiquée sur l’ordonnance). Les séances pourront être réalisées jusqu’au 31 janvier
                2022.</p>
            <p> La caisse d’assurance maladie à laquelle vous êtes rattaché(e) garantit le remboursement de l'ensemble
                des séances que vous réaliserez dans le cadre de ce dispositif.</p>
            </p>
        </div>
    </div>
</div>
<div class="fr-container--fluid fr-bg--light">
    <div class="fr-container fr-centered">
        <div class="fr-grid-row fr-grid-row--center fr-grid-row--gutters">
            <div class="fr-col-8 fr-my-4w">
                <p class="fr-text fr-mb-4v">
                    A partir de début 2022, un nouveau dispositif proposera des séances d’accompagnement
                    psychologique auprès d'enfants comme d'adultes réalisé par un psychologue volontaire conventionné
                    avec l’assurance maladie.</p>
                <p class="fr-mt-4w">
                    Vous êtes psychologue et vous souhaitez en savoir plus pour candidater, laissez-nous votre email&nbsp;!</p>
                <form id="sb_form"
                      onsubmit="process2(
    'https://services.sarbacane.com/core/v1/forms/contacts/upsert?listID&#x3D;gK9pKC6aT7ehlKKhbmLt9A&amp;formID&#x3D;hgLXy0uPQ0GSIAjQUj4hgQ&amp;timezone&#x3D;Europe/Paris', 'https://forms.sbc08.com/', '5a5873edb85b530da84d23f7', 'false', 'message',
    '', 'https://services.sarbacane.com/core/v1/transactional/sendmessage/optin', 'Merci', 'Votre email a bien été enregistré.',
    'Vous allez recevoir un email', 'Vous devrez cliquer sur le lien de confirmation pour valider votre inscription', 'Erreur',
    'Une erreur inattendue s%27est produite.', 'Le formulaire est en cours d%27édition, veuillez patienter quelques minutes avant d%27essayer à nouveau.', '',
    '', ''
  );
  return false;"
                      method="post">
                    <label for="input-email" id="form-header-title"></label>

                    <span style="display: flex;flex-direction: row;">
    <label id="label-EMAIL_ID">Votre email</label>
  </span>
                    <input id="input-email" type="email" name="email" required="true" class="fr-input" sb-form-input />
                    <div id="div-submitInput" class="fr-mt-2w">
                        <button id="submitInput" type="submit" value="Valider" class="fr-btn fr-btn--alt fr-h5">
                            Valider
                        </button>
                        <div class="loader" style="display:none"></div>
                    </div>
                </form>

                <p class="fr-text--sm fr-mt-4w">Pour savoir ce qu'on fait de votre e-mail, vous pouvez voir notre <a
                            href="/donnees-personnelles-et-gestion-des-cookies#mention-donnees-perso">politique de
                        confidentialité.</a></p>
            </div>
        </div>
    </div>
</div>
<div class="fr-container fr-centered">
    <div class="fr-grid-row fr-grid-row--center fr-grid-row--gutters fr-pb-4w">
        <div class="fr-col-10">
            <h2 class="fr-my-2w">Des questions sur le dispositif&nbsp;?</h2>
            <a class="fr-btn fr-btn--secondary" href="/faq#psy">Consulter la Foire Aux Questions</a>

            <p class="fr-mt-4w">Vous avez d'autres questions, n’hésitez pas à envoyer un
                message à l’adresse : <strong><%= contactEmail; %></strong>.</p>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://forms.sbc08.com/form.js"></script>
<%- include('partials/footer') -%>
