.fr-centered {
    text-align: center;
}

ul.fr-accordion-group {
    list-style-type: none;
}

/*.fr-accordion-group li:before {*/
/*    content: none; !* overwrite DSFR default *!*/
/*}*/

.fr-bg--alt {
    background-color: #e6cf0b;
}

.fr-bg--light {
    background-color: #e4e0cf;
}

.fr-bg--light-2 {
    background-color: #e18d7e;
}

.fr-btn--secondary {
    color: #3f3e3e;
    border: solid 1px #3f3e3e;
    box-shadow: none;
}

.fr-btn--alt {
    background-color: #611438;
}

a.fr-btn--alt[href]:hover,
.fr-btn--alt:hover {
    background-color: #450d28;
    background-image: none;
}

.fr-callout.fr-callout-none {
    background: none;
    border-left: solid 4px #e18d7e;
    box-shadow: none;
}

.w-max-200 {
    max-width: 200px;
}

.hero {
    min-height: 400px;
    z-index: -1;
    position: relative;
}

.frame {
    border: 0;
    height: 100px;
}

.d-block {
    display: block;
}

#psy-table.tabulator {
    font-size: 12px;
}

#psy-table.tabulator .tabulator-header .tabulator-col,
#psy-table.tabulator .tabulator-row .tabulator-cell {
    border-right: none;
}

#psy-table.tabulator .tabulator-header .tabulator-col {
    border-bottom: 0.125rem solid var(--g600);
    background-color: var(--beige);
    color: var(--g700);
}

#psy-table.tabulator .tabulator-placeholder span {
    font-weight: normal;
    text-align: center;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .fr-callout {
        background: #fafbfc;
        border-left: 3px solid #000091;
    }
}

.gradient-bg {
    background: rgb(69, 13, 40);
    background: linear-gradient(90deg, rgba(69, 13, 40, 1) 70%, rgba(225, 141, 126, 1) 100%);
}

.card {
    border-radius: 4px;
    height: 100%;
}

.card.white {
    background: white;
}

.step {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.step .number {
    color: #fff;
}
